*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color:blueviolet;
}
h1{
    font-size:120px ;
    margin: 20px;
    color: yellow;
    text-shadow: 7px 0 white;
}
p{
    font-size: 40px;
    text-shadow: 2px 0 white;
    color:brown;
}
.contener{
    /* width: 70%; */
    margin: auto;
    text-align: center;
    
}
.dice{
    text-align: center;
    display: inline-block;
    margin: 20px;
}
button{
    background-color:gray;
    color: white;
    padding: 20px;
    border: none;
    border-radius: 5px;

}